.cta-section {
  padding: 9.6rem 0;
  border-bottom: 1px solid #eee;
}

.cta-container {
  background-color: #de615a;
}

.cta-text-box {
  padding: 4.8rem 6.4rem;
  align-self: center;
}

.cta-heading {
  color: #fff;
  margin-bottom: 3.2rem;
}

.cta-text {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr auto;
}
.cta-input {
  width: 100%;
  padding: 1.6rem 0rem 1.6rem 2.4rem;
  border: none;
  font-family: var(--font-great-vibes);
  font-size: 2rem;
}
.cta-input:focus {
  border: none;
  outline: none;
}
.button-container {
  background-color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 1.2rem;
  gap: 0.8rem;
}
.cta-button {
  background-color: var(--brand-color);
  padding: 0.8rem 1.6rem;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-weight: 600;
}

.cta-button:hover {
  background-color: #c44741;
}
.cta-button-clear {
  background-color: #339af0;
  padding: 0rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.cta-button-clear:hover {
  background-color: #1c7ed6;
}
.cta-button-icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  stroke-width: 0.3rem;
}
.cta-image-container {
  position: relative;
  align-self: start;
}
.cta-image-box {
}
.cta-image {
  width: 100%;
  height: auto;
}
.cta-image-text {
  position: absolute;
  top: 32%;
  left: 56%;
  font-family: var(--font-great-vibes);
  font-size: 2rem;
  color: #333;
}
.cta-image-text-2 {
  position: absolute;
  top: 32.5%;
  left: 57%;
  font-family: var(--font-great-vibes);
  font-size: 7rem;
  color: #333;
}

/* sweet alert */
.swal-title {
  font-size: 3rem !important; /* título más grande */
  font-weight: bold;
}

.swal-text {
  font-size: 1.4rem !important; /* texto más grande */
  line-height: 1;
}
.my-confirm-btn {
  font-size: 2rem;
  border-radius: 0%;
}

/*? QUERIES */
/* 
TABLETS
944px 
59em
*/
@media (max-width: 59em) {
  .cta-container {
    grid-template-columns: 1fr;
  }
  .cta-input {
    font-size: 2.4rem;
  }
  .cta-image-text {
    top: 32.5%;
    left: 56%;
    font-size: 3rem;
  }
  .cta-text {
    margin-bottom: 3.2rem;
  }
  .cta-text-box {
    padding: 4.8rem 6.4rem 2.4rem;
  }
}

@media (max-width: 44em) {
  .cta-section {
    padding: 8rem 0;
  }
  .cta-text-box {
    padding: 3.2rem 4.8rem 1.6rem;
  }
  .cta-input {
    font-size: 2rem;
  }
  .cta-image-text {
    top: 32%;
    left: 56%;
    font-size: 2rem;
  }
}

/* 
PHONES
544px
34em */
@media (max-width: 34em) {
  .cta-heading {
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
  }
  .cta-text-box {
    padding: 3.2rem 3.2rem 1.6rem;
  }
  .cta-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 1.6rem;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .cta-input {
    font-size: 2.4rem;
  }
  .button-container {
    background-color: #de615a;
    /* width: 100%; */
    padding: 1.2rem 0;
  }
  .cta-button {
    background-color: #c44741;
    width: 100%;
  }
  .cta-button:hover {
    background-color: #ae3f3a;
  }
  .cta-image-text {
    top: 32.5%;
    left: 56%;
    font-size: 1.6rem;
  }
}

/* 
- Font sizes (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    
*/
