.about-section {
  padding: 12.8rem 0;
  background-color: #fbeded;
}

.about-container-gap {
  column-gap: 12.8rem;
  row-gap: 8rem;
}

.about-title:hover span {
  margin-left: 6.4rem;
}

.about-image-1 {
  width: 70%;
  height: auto;
  justify-self: end;
}

.images-container {
  position: relative;
}
.about-image-2 {
  width: 100%;
  height: auto;
}
.about-description {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.5;
}
.about-image-3 {
  width: auto;
  height: 100%;
  position: absolute;
  right: -4rem;
  top: -15rem;
  transition: all 0.3s ease;
}
.about-image-3:hover {
  transform: scale(1.1);
}

/* features component */
.feature {
}
.feature-icon {
  color: #111;
  color: #da4f48;

  width: 2.6rem;
  height: 2.6rem;
  margin-bottom: 2.4rem;
}
.feature-title {
  font-size: 2.8rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.8;
}

/*? QUERIES */
/* 
TABLETS
944px 
59em
*/
@media (max-width: 59em) {
  .about-container-gap {
    column-gap: 9.6rem;
    row-gap: 6.4rem;
  }

  .container-features {
    column-gap: 4.8rem;
  }
}

/* 
TABLETS
704px 
44em
*/
@media (max-width: 44em) {
  .about-section {
    padding: 9.6rem 0;
  }
  .about-container-gap {
    column-gap: 6.4rem;
    row-gap: 3.2rem;
    grid-template-columns: 1fr;
  }
  .about-title {
    margin-bottom: 4.8;
  }
  .about-image-2 {
    width: 60%;
  }
  .about-image-3 {
    right: 15rem;
    top: -15rem;
  }
  .container-features {
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
  .heading-box {
    order: -2;
  }
  .about-description {
    order: -1;
  }
}

/* 
- Font sizes (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    
*/
