.about-section {
  padding: 12.8rem 0;
  background-color: #fbeded;
}

.about-container-gap {
  column-gap: 12.8rem;
  row-gap: 8rem;
}
.heading-secondary {
  font-size: 5.2rem;
  color: #333;
  text-transform: uppercase;
  font-family: var(--font-dm-serif-display);
  font-weight: normal;
  line-height: 0.9;
  letter-spacing: -0.5px;
}

.about-title span {
  /* align-self: center; */
  /* justify-self: center; */
  /* text-align: center; */
  display: block;
  margin-left: 4.8rem;
  transition: all 0.3s;
}

.about-title:hover span {
  margin-left: 6.4rem;
}

.about-image-1 {
  width: 70%;
  height: auto;
  justify-self: end;
}

.images-container {
  position: relative;
}
.about-image-2 {
  width: 100%;
  height: auto;
}
.about-description {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.5;
}
.about-image-3 {
  width: auto;
  height: 100%;
  position: absolute;
  right: -4rem;
  top: -15rem;
  transition: all 0.3s ease;
}
.about-image-3:hover {
  transform: scale(1.1);
}

/* features component */
.feature {
}
.feature-icon {
  color: #111;
  color: #da4f48;

  width: 2.6rem;
  height: 2.6rem;
  margin-bottom: 2.4rem;
}
.feature-title {
  font-size: 2.8rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.feature-description {
  font-size: 1.8rem;
  color: #555;
  line-height: 1.8;
}
