.testimonials-section {
  padding: 9.6rem 0;
  background-color: #fbeded;
}

.testimonials-container {
}
.testimonial-card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
}
.quot-box {
  /* font-size: 5rem;
  align-self: end;
  height: 3rem; */
}
.quot-sign {
  color: #e5847f;
  width: 1.8rem;
  height: 1.8rem;
}
.testimonial-box {
  grid-area: 2 / 2 / 3 / 3;
}
.testimonial-text {
  font-size: 1.8rem;
  color: #333;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-image {
  width: 6.4rem;
  height: auto;
  border-radius: 50%;
}
.testimonial-author {
  color: #777;
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
