.speakers-section {
  padding: 9.6rem 0;
}
.speakers-container {
}

.speakers-gap {
  gap: 4.8rem;
}
.speaker-card {
  padding: 3.2rem;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
  transition: all 0.3s;
}
.speaker-card:hover {
  transform: scale(1.1);
}
.principal {
  /* border: solid 1px red; */
  background-color: #fbeded;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.principal::before {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  top: 0;
  left: 0;
  border-top: 4px solid #f4cac8;
  border-left: 4px solid #f4cac8;
}
.principal::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #f4cac8;
  border-right: 4px solid #f4cac8;
}
.speaker-card-image {
  width: 100%;
  height: auto;
}
.speaker-card-name {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin: 3.2rem 0 1.2rem;
  text-align: center;
}
.speaker-card-calling {
  font-size: 1.6rem;
  color: #777;
  text-align: center;
}

.more-speakers {
  font-size: 1.8rem;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-speakers p {
  width: 40%;
  text-align: center;
}
.more-speakers {
  transition: all 0.3s;
}
.more-speakers:hover {
  transform: scale(1.1);
}

@media (max-width: 44em) {
  .speakers-section {
    padding: 8rem 0;
  }
  .speakers-container {
    grid-template-columns: 1fr 1fr;
  }
  .speakers-gap {
    gap: 3.2rem;
  }
}

/* 
- Font sizes (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

      
  - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
    
*/
