.schedule-section {
  padding: 9.6rem 0;
}

/* schedule box */
.container-details {
  border: 1px solid #ccc;
  padding: 8rem 4.8rem;
  position: relative;
  /* height: 50rem; */
}
.schedule-buttons {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3.2rem;
}

.button-schedule {
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  border: none;
  /* border: 1px solid #333; */
  box-shadow: inset 0 0 2px #333;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.button-schedule:hover {
  background-color: #efefef;
}

.active-schedule {
  background-color: #da4f48;
  color: #fff;
  box-shadow: none;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.active-schedule:hover {
  background-color: #da4f48;
}

/* schedule information */
.schedule-date {
  font-size: 2.4rem;
  color: #777;
  font-weight: 700;
  margin-bottom: 4.8rem;
}
.container-sesion {
  display: grid;
  grid-template-columns: 1fr 15fr;
  column-gap: 4.8rem;
}

.sesion-information {
  padding-bottom: 4.8rem;
}
.container-sesion:last-child .sesion-information {
  padding-bottom: 0rem;
}
.sesion-name {
  font-size: 2rem;
  font-weight: 600;
  color: var(--brand-color);
  margin-bottom: 1.6rem;
}
.sesion-description {
  font-size: 1.8rem;
  line-height: 2;
  color: #333;
  /* font-style: italic; */
}

.schedule-linetime {
  position: relative;
  justify-self: end;
}

.schedule-line {
  position: relative;
  height: 100%;
  width: 1px;
  border-left: 1px dashed var(--brand-color);
}
.schedule-point {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #fff;
  border: 1px solid var(--brand-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.schedule-point::before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: var(--brand-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
